<h1 class="title-center">Bookings received</h1>


<div class="container">
    <div class="row">
      <% current_user.flats.each do |flat| %>
        <% flat.bookings.each do |booking| %>
          <div class="col-xs-12 col-md-4">
            <div class="card_booking text-center">
              <div><%= Flat.find(booking.flat_id).title %></div>
              <br>
              <div><%= image_tag(flat.picture_1)%></div>
              <br>
                <div> <strong>Starting on </strong> <%= booking.starting_on %> </div>
                <div> <strong>Ending on </strong> <%= booking.ending_on %> </div>
                <div>
                  <%= simple_form_for [flat, booking] do |f| %>
                    <%= f.input :accepted, as: :boolean, accepted: true %>
                    <%= f.button :submit, class: "btn btn-success" %>
                  <% end %>
                </div>
              </div>
            </div>
        <% end %>
      <% end %>
  </div>
</div>

<!-- rajouter le nom du locataire -->
