<h1 class="title-center">Bookings received</h1>


<div class="container">
    <div class="row">
      <% current_user.flats.each do |flat| %>
        <% flat.bookings.each do |booking| %>
          <div class="col-xs-12 col-md-4">
            <div class="card_booking text-center">
              <div> <%= image_tag(flat.picture_1)%></div>
              <p><%= Flat.find(booking.flat_id).title %></p>
               <p> <strong>starting on </strong> <%= booking.starting_on %></p>
               <p> <strong>ending on </strong> <%= booking.ending_on %></p>
               <p><%= booking.accepted %></p>
              </div>
            </div>
        <% end %>
      <% end %>
  </div>
</div>

<!-- rajouter le nom du locataire -->