<%= simple_form_for(@flat, html: { multipart: true }) do |flat| %>

<% if @flat.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @flat.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <%= flat.input :title %>
  <%= flat.textarea :description %>
  <%= flat.input :price %>
  <%= flat.input :city %>
  <%= flat.input :capacity %>
  <%= flat.button :submit, class: "btn btn-danger" %>
<% end %>