

<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>


<div id="search-bloc">
  <div id="search-date">
    <h2> Dates </h2>
    <%= form_tag(flats_path, method: :get, class: "form-inline") do %>
      <div class="form-group">
        <%= date_field_tag :starting_on, params[:starting_on], class: "form-control" %>
      </div>
      <div class="form-group">
        <%= date_field_tag :ending_on, params[:ending_on], class: "form-control" %>
      </div>
      <div class="form-group">
        <%= number_field_tag :capacity, params[:capacity], placeholder: '4', class: "form-control" %>
      </div>
      <%= submit_tag "Search", class: "btn btn-danger" %>
    <% end %>
  </div>

  <div class="container">
    <div class="row">
      <% @flats.each do |flat| %>
        <div class="col-xs-12 col-md-4">
          <div class="card_2 text-center" id="card-flat">
            <div id="img-flat"><%= image_tag(flat.picture_1)%></div>
            <div id="price"><%= flat.price %></div>
            <h3><%= link_to flat.title.truncate(20), flat_path(flat.id) %></h3>
            <p><%= flat.description.truncate(50) %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>