
<div id="search-bloc">
  <h2> Results </h2>
  <%= render "searchbar" %>

  <div class="container">
    <div class="row">
      <% @flats.each do |flat| %>
        <div class="col-xs-12 col-md-4">
          <div class="card_2 text-center" id="card-flat">
            <div id="img-flat"><%= image_tag(flat.picture_1)%></div>
            <div id="price"><%= flat.price %></div>
            <h3><%= link_to flat.title.truncate(20), flat_path(flat.id) %></h3>
            <p><%= flat.description.truncate(50) %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>