<div id="flat_img" style="background: url(<%= @flat.picture_1.url %>); background-repeat:no-repeat; background-size:cover"/>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div id="title">
          <h1> <%= @flat.title.capitalize %> </h1>
          <h2>  <%= @flat.city.capitalize %> </h2>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div id="title" classe="price">
          <h2> Price : </h2>
          <h2>  <%= @flat.price %> per night </h2>
          <%= link_to 'send a booking', new_flat_booking_path(@flat), class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="about">
  <div class="container">
    <div class="row">
      <h2>About this flat</h2>
      <p> <%= @flat.description %> </p>
      <div class="col-xs-4">
        <p> <%= image_tag(@flat.picture_1) %> </p>
      </div>
      <div class="col-xs-4">
        <p> <%= image_tag(@flat.picture_2) %> </p>
      </div>
      <div class="col-xs-4">
        <p> <%= image_tag(@flat.picture_3) %> </p>
      </div>
    </div>
  </div>
</div>