<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var coord = <%= raw @flat_coordinates %>;
      alert('Flat coordinates are ' + coord.lat + ', ' + coord.lng);
    });
  <% end %>
<% end %>

<div id="flat_img" style="background: url(<%= @flat.picture_1.url %>); background-repeat:no-repeat; background-size:cover"/>
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <div id="title">
          <h1> <%= @flat.title.capitalize %> </h1>
          <p>  <%= @flat.city.capitalize %> </p>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="bg-white">

    <div class="container">
      <div class="row">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-3">

        </div>
        <div class="col-xs-1">
        </div>
        <div class="col-xs-4">
          <table class= "table" id="price_table">
            <tr>
              <td>Price</td>
              <td> <%= @flat.price %> per night </td>
            </tr>
          </table>
          <%= link_to 'send a booking', new_flat_booking_path(@flat), class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>

<div id="about">
  <div class="container">
    <div class="row">
      <h2>About this flat</h2>
      <p> <%= @flat.description %> </p>
      <div class="col-xs-4">
        <p> <%= image_tag(@flat.picture_1) %> </p>
      </div>
      <div class="col-xs-4">
        <p> <%= image_tag(@flat.picture_2) %> </p>
      </div>
      <div class="col-xs-4">
        <p> <%= image_tag(@flat.picture_3) %> </p>
      </div>
    </div>
  </div>
</div>