<!-- app/views/flats/index.html.erb -->

<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyArP_m9Si_qc-2OKd12oQHaCyeZsVY1Rhk">
</script>
<script type="text/javascript" src="autocomplete.js"></script>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for(@flat, url: (@flat.new_record? ? account_flats_path : account_flat_path(@flat)), html: { multipart: true }) do |flat| %>

      <%= flat.input :title, placeholder:"Nice Appartment in Paris" %>
      <%= flat.input :description, as: :text, input_html: { minlenght: 50}, placeholder:"Near Eiffel Tower, ..." %>
      <%= flat.input :price, placeholder:"70 €" %>
      <%= flat.input :address, id: "user_input_autocomplete_address", placeholder:"Your adress" %>
      <%= flat.input :city, placeholder:"Paris" %>
      <%= flat.input :capacity, placeholder:"5" %>
      <%= flat.input :picture_1 %>
      <%= flat.input :picture_2 %>
      <%= flat.input :picture_3 %>

      <%= flat.submit class: "btn btn-danger" %>
    <% end %>
    </div>
  </div>
</div>


<!-- <input id="street_number" name="street_number" disabled>
<input id="route"         name="route"         disabled>
<input id="locality"      name="locality"      disabled>
<input id="country"       name="country"       disabled> -->

<script type="text/javascript">
  google.maps.event.addDomListener(window, 'load', function() {
    initializeAutocomplete('user_input_autocomplete_address');
  });
</script>