<div class="text-center">
  <h1>All my flats</h1>
</div>
<div class="container">
  <div class="row">
    <%@flats.each do |flat|%>
      <div class="col-xs-12 col-md-4">
        <div class="card_2 text-center">
          <h2><%= link_to flat.title.capitalize.truncate(30), flat_path(flat.id) %></h2>
          <div><%= image_tag(flat.picture_1) %></div>
          <br>
          <div id='price'> Price : <%= flat.price %> € </div>
          <div><%= flat.description.truncate(50) %></div>
          <br>
          <div><%= link_to("Edit", edit_account_flat_path(flat.id), class: "btn btn-success")%>
          <%= link_to("More details", flat_path(flat), class: "btn btn-success")%>
          </div>
        </div>
    </div>
  <%end%>
</div>
</div>
<br>
